* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@media screen and (max-width: 770px) {
    .content h1 {
        font-size: 50px;
    }
    .content .content-button a {
        display: block;
        margin: 20px auto;
    }
    .HOME {
        background-size: auto;
    }
}

#HOME {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.005), #f3ccf6), url(image/DoctorBlackgound.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

#logo {
    width: 150px;
    position: absolute;
    top: 0%;
    left: 5%;
}

#Navbar {
    width: 200px;
    height: 100vh;
    position: fixed;
    right: -200px;
    top: 0;
    background: #ffabb2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc97e, #ffabb2);
    background: linear-gradient(to right, #ffc97e, #ffabb2);
    z-index: 2;
    transition: 1s;
}

#search {
    background-color: #e4ccea;
    width: 140px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
    margin-right: 10%;
    margin-top: 37%;
}

#search form ::placeholder {
    color: #fff;
    opacity: 0.7;
}

#search input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

nav {
    flex: 1;
    padding-left: 60 px;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
    transition: transform .5s;
    font-family: 'Abril Fatface', cursive;
    word-spacing: 5px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(138, 128, 128);
}

nav ul li:hover {
    text-decoration: none;
    transform: translateY(-7px);
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(89, 5, 5);
}

#Navbar .Button {
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 10px 8px 22px rgba(100, 30, 70, 0.15);
}

#NavButton {
    width: 40px;
    height: 40px;
    background: #FFAFBD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);
    background: linear-gradient(to right, #ffc3a0, #FFAFBD);
    text-align: center;
    position: fixed;
    right: 20px;
    top: 10px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#NavButton img {
    width: 25px;
    margin-top: 7px;
}

.HelpButton {
    list-style: none;
    margin: 20px 20px;
    background: linear-gradient(45deg, #ff8c8c, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 10px 8px 22px rgba(100, 30, 70, 0.15);
    font-size: 15px;
    transition: transform .5s;
}

.HelpButton:hover {
    text-decoration: none;
    transform: translateY(-7px);
}

.content {
    text-align: center;
    padding-top: 300px;
}

.content h1 {
    font-size: 70px;
    color: rgb(128, 77, 145);
    font-family: 'Berkshire Swash', cursive;
}

.content strong {
    font-size: 30px;
    color: rgb(144, 101, 159);
    font-family: 'Berkshire Swash', cursive;
}

.content p {
    font-size: 20px;
    font-style: italic;
    color: rgb(104, 49, 124);
    font-family: 'Playfair Display', serif;
}

.content .content-button {
    margin: 70px auto 0;
}

.content .content-button a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: rgb(183, 174, 174);
    border: 2px solid rgb(183, 174, 174);
    position: relative;
    z-index: 1;
    transition: 1s;
}

.content .content-button a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    transition: 1s;
}

.content .content-button a:hover span {
    width: 100%;
}

.content .content-button a:hover {
    color: rgb(115, 106, 106);
}

.content .button {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(100, 30, 70, 0.15);
    transition: transform .5s;
}

.content .button:hover {
    transform: scale(2, 2);
}


/*--Depression--*/

#Depression {
    width: 100%;
    padding: 100px 0;
    background: #febfc8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f6dee0, #febfc8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f6dee0, #febfc8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Title_font {
    text-align: center;
    padding-bottom: 60px;
}

.Title_font p {
    margin: auto;
    font-size: 40px;
    color: rgb(32, 149, 132);
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Abril Fatface', cursive;
}

.Title_font p::after {
    content: "";
    width: 70px;
    height: 50px;
    background: linear-gradient(#fff2f2, rgb(174, 131, 173));
    position: absolute;
    top: 5px;
    left: -30px;
    z-index: -1;
    transform: rotate(60deg);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.Title_font h1 {
    font-size: 70px;
    color: rgb(57, 56, 96);
    font-family: 'Amatic SC', cursive;
}

.Depression-Box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.Depression {
    flex-basis: 100%;
}

.Depression-img {
    flex-basis: 15%;
    margin: auto;
    min-width: 200px;
    min-height: 150px;
    margin-left: 50px;
    margin-right: 10px;
}

.form-range {
    list-style-image: url('smiley.gif');
}

.Depression-img img {
    width: 100%;
}

.Depression h1 {
    flex-basis: 85%;
    text-align: left;
    margin-bottom: 12px;
    font-weight: 90;
    color: rgb(159, 64, 191);
    font-family: 'Abril Fatface', cursive;
}

.Depression-Description {
    flex-basis: 85%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
}

.Depression-Logo .fa-solid {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 45px;
    border-radius: 8px;
    color: #6e2e73;
    border: 4px solid;
}

.Depression-Text p,
.Depression-Text li {
    padding: 0 20px;
    text-align: justify;
    list-style: lower-roman;
}

.Depression-Text li {
    line-height: 200%;
}

.rangebar {
    -webkit-appearance: none;
    width: 1000px;
    height: 25px;
    border-radius: 10px;
    background: #f58a8a;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.rangebar:hover {
    opacity: 1;
}

.rangebar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #ff5c33;
    cursor: pointer;
}

.rangebar::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

#RangeValue {
    color: #ff5741;
    color: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    color: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    font-size: 50px;
}

.slidecontainer p {
    line-height: 2;
    font-size: 30px;
    font-weight: 200;
    font-family: fantasy;
    color: #455a6b;
    padding-bottom: 70px;
}

@media screen and (max-width: 770px) {
    .Title_font h1 {
        font-size: 35px;
    }
    .Depression {
        flex-basis: 100%;
    }
    .Depression-Description {
        flex-basis: 100%;
    }
    .Depression-img {
        flex-basis: 100%;
    }
    .Depression-img img {
        width: 100%;
    }
}


/*--LargeChart--*/

#LargeChart {
    width: 100%;
    padding: 70px 0;
    background: #ffb388;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffb388, #ffeab5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffb388, #fceabb);
}

#myChart {
    background-color: rgba(248, 246, 236, 0.8);
    margin-left: 10%;
    margin-right: 10%;
    width: 500px;
    height: 500px;
}

#myMap {
    background-color: rgba(248, 246, 236, 0.8);
    margin-left: 10%;
    margin-right: 10%;
    width: 500px;
    height: 500px;
}


/*--Counselling--*/

#Counselling {
    width: 100%;
    padding: 70px 0;
    background: #fceabb;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f8b500, #fceabb);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f8b500, #fceabb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Counselling-Box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.Single-Counselling {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: rgb(35, 22, 22);
    position: relative;
}

.Single-Counselling img {
    width: 100%;
    max-width: 480px;
    max-height: 300px;
    border-radius: 7px;
}

.Counselling_Cover {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    background: linear-gradient(rgba(0, 0, 0, 0.60), #fff, #d6a4a4);
    cursor: pointer;
    opacity: 0;
    transition: 1s;
}

.Single-Counselling:hover .Counselling_Cover {
    opacity: 0.8;
    background-color: #fff;
}

.Counselling-Description {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.Counselling-Description p {
    font-size: 15px;
    color: #253c45;
    text-align: justify;
    font-weight: 400;
}

.Single-Counselling:hover .Counselling-Description {
    bottom: 20%;
    opacity: 1;
}

@media screen and (max-width: 770px) {
    .Single-Counselling {
        flex-basis: 100%;
        margin-bottom: 30px;
        grid-template-areas: repeat(auto-fill, minmax(150px, 1fr));
    }
    hr {
        margin: 5px auto;
    }
    .Single-Counselling:hover .Counselling-Description {
        bottom: 25%;
    }
}


/*---Advice--*/

#Advice {
    width: 100%;
    padding: 70px 0;
    background: #c8f7df;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FAFFD1, #c8f7df);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FAFFD1, #c8f7df);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Advice-Row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.Advice-Cloumn {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #f6e979;
    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
    transition: transform .5s;
}

.Advice-Cloumn p {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.Client {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.Client img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
    border-radius: 10px;
}

.Clent-Info h4 {
    font-size: 20px;
}

.Clent-Info .fa-soild {
    margin-left: 10px;
    color: #253c45;
    font-size: 20px;
}

.Clent-Info small {
    margin-left: 10px;
    color: #27c0ff;
    font-size: 15px;
    ;
    font-family: 'Playfair Display', serif;
}

.Advice-Cloumn:hover {
    transform: translateY(10px);
}

@media screen and (max-width: 770px) {
    .Advice-Cloumn {
        flex-basis: 100%;
    }
}

#Footer {
    padding: 50px 0 20px;
    background: #9796f0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffbbcc, #9796f0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}

.Footer-Row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Footer-Left,
.Footer-Right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.Footer-Right {
    text-align: right;
}

.Footer-Row h1 {
    margin: 10px 0;
    color: rgb(68, 32, 80);
    font-family: 'Berkshire Swash', cursive;
}

.Footer-Row p {
    line-height: 35px;
    color: rgb(0, 0, 0);
    font-family: 'Berkshire Swash', cursive;
}

.Footer-Left .fa-solid,
.Footer-Right .fa-solid {
    font-size: 20px;
    color: #350a58;
    margin: 10px;
}

.Footer-img {
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.Social-Link {
    text-align: center;
}

.Social-Link .fa-brands {
    height: 60px;
    width: 60px;
    font-size: 40px;
    line-height: 60px;
    margin: 60px 6px 0;
    cursor: pointer;
    transition: 0.7s;
}

.Social-Link .fa-brands:hover {
    background: #222a3d;
    color: #fff;
    border-radius: 50%;
    transform: scaleX(1.2);
}

.Social-Link .p {
    font-size: 12px;
    margin-top: 20px;
    color: #222a3d;
}

@media screen and (max-width: 770px) {
    .Footer-Left,
    .Footer-Right {
        flex-basis: 100%;
        font-size: 14px;
    }
    .Footer-img {
        top: 25%;
    }
}


/*---Include Smooth Scroll on your site.---*/

#MailingList {
    padding: 100px 0 20px;
    background: #acb6e5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b8e8df, #acb6e5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b8e8df, #acb6e5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.MailingList_Info {
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(0, 0, 0);
}

.MailingList_Info h1,
h2 {
    font-family: 'Berkshire Swash', cursive;
}

.EmailForm {
    text-align: center;
    line-height: 200%;
}

#tbl thead {
    color: #ffffff;
    background-color: #537685;
    letter-spacing: 1px;
    padding-left: 30px;
}

#SignupBtn {
    align-items: center;
    appearance: none;
    background-color: rgb(253, 234, 234);
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

#SignupBtn:hover {
    background: #fcfcfc;
    color: #5f0e85;
    font-size: larger;
}

#SignupBtn:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

#SignupBtn:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.btn-primary {
    background-color: #00f06c;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #00f06c;
}

.btn-danger {
    background-color: #d20c0c;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-danger:hover,
.btn-danger:focus {
    background-color: #d20c0c;
}


/* CSS */

#StaffListid {
    padding: 100px 0 20px;
    background: #f5ff85;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #9ac6bd, #F8FFAE);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #9ac6bd, #F8FFAE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#StaffList {
    margin-left: 10%;
    margin-right: 10%;
    color: #253c45;
    line-height: 200%;
    text-align: justify;
    font-size: 20px;
    font-weight: 200;
}

#StaffList strong {
    margin-left: 25%;
    margin-right: 25%;
    color: #84452d;
    text-align: center;
    line-height: 2;
    font-size: 27px;
    font-weight: 200;
    display: inline-block;
    font-family: 'Abril Fatface', cursive;
}

#StaffListBtn {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: monospace;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    padding: 6px 16px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 39%;
    margin-top: 5%;
}

#StaffListBtn:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
    outline: 1px transparent;
}

#StaffListBtn:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

#StaffList table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 40px;
    text-align: justify;
    grid-template-columns: 20% 40% 20% 20%;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
}

#StaffList table th {
    color: #ffffff;
    background-color: #537685;
    letter-spacing: 1px;
}

@media screen and (max-width: 770px) {
    .MailingList_Info h1 {
        font-size: 35px;
    }
    .MailingList {
        flex-basis: 100%;
    }
    .MailingList .table {
        width: 100%;
    }
    #StaffList table {
        width: 100%;
        flex-basis: 100%;
    }
}

.Searchlist {
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(0, 0, 0);
}

#SearchingInput {
    width: 50%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}

#StaffRecord {
    border-collapse: collapse;
    /* Collapse borders */
    width: 100%;
    /* Full-width */
    border: 1px solid #ddd;
    /* Add a grey border */
    font-size: 18px;
    /* Increase font-size */
    grid-auto-columns: repeat(auto-fill, minmax(150px, 1fr));
}

#StaffRecord th,
#StaffRecord td {
    text-align: left;
    /* Left-align text */
    padding: 12px;
    /* Add padding */
}

#StaffRecord tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid rgb(142, 136, 136);
}

#StaffRecord h1 {
    font-size: 20px;
    font-weight: 700;
    word-spacing: 2;
}

#StaffRecord p {
    font-size: 16px;
    font-style: italic;
    word-spacing: 1.5;
    text-align: justify;
    color: #395c6b;
}

#StaffRecord li {
    font-size: 18px;
}

#StaffRecord tr.StaffRecordHeader,
#StaffRecord tr:hover {
    /* Add a grey background color to the table StaffRecordHeader and on hover */
    background-color: #f2f2f2;
}


/* Style the submit button */

.input-group button {
    float: right;
    width: 15%;
    padding: 12px 20px 12px 40px;
    background: #2196F3;
    color: white;
    font-size: 16px;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 7px;
    margin-bottom: 12px;
    /* Add some space below the input */
}

.input-group button:hover {
    background: #0b7dda;
}


/* Clear floats */

.input-group::after {
    content: "";
    clear: both;
    display: table;
}

table {
    background: #c7d0e1;
}

@media screen and (max-width: 770px) {
    #StaffRecord {
        width: 100%;
    }
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

#SSS input {
    font-size: 1rem;
}

.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}

.card>.Header {
    margin-bottom: .25rem;
}

.card>.body {
    font-size: .8rem;
    color: #777;
}

.hide {
    display: none;
}

.StaffIcon {
    max-width: 50px;
    max-height: 50px;
}